.input-boxes {
	display: flex;
	flex-direction: column;
	width: 30ch;
}

.input-rows {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.signup-boxes {
	padding: 5px;
	border-radius: 15px;
}
.signup {
	margin-top: 15px;
}

