<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Flashcards</title>

		<link rel="stylesheet" href="/static/css/general.css" />
		<link
			rel="shortcut icon"
			href="../static/favicon.ico"
			type="image/x-icon"
		/>
	</head>
	<body>
		<div class="link-bar">
				<a class="link-bar-container" href="http://127.0.0.1:5000/login">Login</a>
				<a class="link-bar-container" href="http://127.0.0.1:5000/profile">cards</a>
				<a class="link-bar-container" href="http://127.0.0.1:5000/history">History</a>
		</div>
		<div class="main-container">
			<div class="title-wrapper">
				<h1 class="title">New Card</h1>
			</div>

			<div class="form-wrapper">
				<form id="form" action="/new_card/{{deck_id}}" method="post" class="input-boxes">
					<div class="input-rows new-card-form-wrapper">
						<label for="card-front-title">Card front title:</label>
						<input type="text" name="card-front-title" id="card-front-title"></input>
					</div>
					<div class="input-rows new-card-form-wrapper">
						<label for="card-front-text">Card front text:</label>
						<input type="text" name="card-front-text" id="card-front-text"></input>
					</div>
					<div class="input-rows new-card-form-wrapper">
						<label for="card-back-title">Card back title:</label>
						<input type="text" name="card-back-title" id="card-back-title"></input>
					</div>
					<div class="input-rows new-card-form-wrapper">
						<label for="card-back-text">Card back text:</label>
						<input type="text" name="card-back-text" id="card-back-text"></input>
					</div>
					<div class="input-rows new-card-form-wrapper">
						<input type="submit"></submit>
					</div>	
				</form>
			</div>
			<div class="filler"></div>
		</div>
	</body>
</html>
