<!doctype html>
<html>

<link rel="stylesheet" href="">
<script src="/static/js/script.js"></script>

<body>
  <div class="left">
    <div class="title-wrapper">
      <h1 class="title">Nursery Web App</h1>
      <img class="logo" src="static/images/Logo.png" alt="">
    </div>

    <div>
      <textarea id="categories">Here are the categories!</textarea>
      <button id="btn-category" onclick="data_categories()">Categories</button>
    </div>

    <div>
      <textarea id="decks">Here are the decks!</textarea>
      <button id="btn-decks" onclick="data_decks()">Decks</button>
    </div>

</body>
</html>