<!DOCTYPE html>

<link rel="stylesheet" href="/static/css/general.css" />
<link rel="stylesheet" href="/static/css/signup.css" />
<!-- Button to open the modal login form -->

<!-- The Modal -->
<body>
	<div class="left">
		<div class="title-wrapper">
			<h1 class="title">Flashcards</h1>
		</div>
		<form class="input-boxes" method="post" action="">
			{{form.hidden_tag()}}
			<div class="input-rows signup-form-wrapper">
				<label for="username">Username: </label>
				{{form.username(class_="user signup-boxes")}}
			</div>
			<div class="input-rows signup-form-wrapper">
				<label for="password">Password:</label>
				{{form.password(class_="psw signup-boxes")}}
			</div>
			{{form.submit(class_="signup input-rows")}}
		</form>
	</div>
</body>
